{% extends "layout/layout.html" %}

{% load static %}
{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block content %}
    <a href="{% url 'catalog:upload_p_template' %}">Go Back</a>
    <hr/>
    <h1>Tiêu đề: {{UF.p_title}}</h1>
    <h6>Tên sản phẩm: {{UF.p_name}}</h6>
    <h5>Mã sản phẩm: {{UF.p_code}}</h5>
    <h6>Xuất xứ: {{UF.p_country}}</h6>
    <h6>Người tạo: {{UF.author}}</h6>
    <p><img src="{{UF.p_image.url}}" alt="Smiley face" width="250" height="250"></p>
    <h6>Mô tả: {{UF.p_description}}</h6>

    {% include 'layout/nav-bar.html' %}
{% endblock %}