{% extends "layout/layout.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block content %}
	
	{% if title %}
	<div class="container">
		<div class="breadcrumbs">
			{% if user.is_authenticated %}
			<a href="/home/">Home</a>
			{% else %}
			<a href="/">Home</a>
			{% endif %}
			 &rsaquo; {{title}}
		</div>
     </div>
    {% else %} {% endif %}
	
	<!-- Container -->
	<div class="" id="container">
	  	<div class="container">
	      	<div class="row justify-content-center align-items-center" style="height:80vh;">
	          	<div class="col-auto border p-3">Your password successfully has been succesffully changed</div>
	      	</div>
	  	</div>
	</div>
{% endblock %}
