{% extends "layout/layout_auth.html" %}

{% block title %}{{ title }} {% endblock %}

{% block content %} 
	
	{% include 'layout/nav-bar_top.html' %}
	{% if title %}
	<div class="container">
		<div class="breadcrumbs">
			{% if user.is_authenticated %}
			<a href="/home/">Home</a>
			{% else %}
			<a href="/">Home</a>
			{% endif %}
			 &rsaquo; {{title}}
		</div>
     </div>
    {% else %} {% endif %}
	
	<!-- Container -->
	<div class="" id="container-login">
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name"><a href="{% url 'user:login' %}">Login</a></h1>
			</div>
		</div>
		<div id="content" class="colM">
			<div id="content-main">
				<p style="color: #007aff;">Your request to reset your password is accepted! Please check your email.</p>
				
			</div>
		</div>
	</div>
{% endblock %}
