{% extends "admin/base.html" %} 

{% block title %}{{ title }} {% endblock %} 

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block content %} 
<div class="container">
	<div class="row justify-content-center align-items-center" style="height:80vh;">
		<div class="col-auto border p-3">
 	<!-- <div class="card mt-4">
 		<div class="card-body"> -->
		{{ block.super }}
		<form method="POST" action="." class="form-horizontal">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-group submit-row">
				<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
				<input type="submit" value="Lập lại mật khẩu"
					class="btn btn-default" />
			</div>
			<div class="clearfix"></div>
		</form>
		</div>
	</div>
</div>
{% endblock %}

{% block branding %}
	<a href="{% url 'admin_password_reset' %}">{{ site_header|default:_('Lập lại mật khẩu') }}</a>
{% endblock %}