{% extends "admin/base.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% block crumbs %}
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
	
	{% if title %}
	<div class="container">
		<div class="breadcrumbs">
			{% if user.is_authenticated %}
			<a href="/home/">Home</a>
			{% else %}
			<a href="/">Home</a>
			{% endif %}
			 &rsaquo; {{title}}
		</div>
     </div>
    {% else %} {% endif %}
	
	<!-- Container -->
	<div class="" id="container-login">
	  	<div class="container">
	      	<div class="row justify-content-center align-items-center" style="height:80vh;">
	          	<div class="col-auto border p-3">
		              {% if form.errors %}
		              <p class="bg-danger p-2">Incorrect password</p>
		              {% endif %}
						{% if next %}
		                  {% if user.is_authenticated %}
		                  <p class="bg-warning p-1">Your account doesn't have access.</p>
		                  {% else %}
		                  <p class="bg-secondary">Please login to see this page.</p>
		                  {% endif %}
		              {% endif %}
					<form method="post" action="{% url 'admin_password_change' %}" class="form-horizontal">
			              {% csrf_token %}
			              {{ form.as_p}}
						<input class="mt-3" type="submit" value="Thay đổi mật khẩu" />
	              		<input type="hidden" name="next" value="{{ next }}" />
	              	</form>
	          	</div>
	      	</div>
	  	</div>
	</div>
{% endblock %}
