{% extends "layout/layout_auth.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
		{% for crumb, href in crumbs %}
	      {% if forloop.last %}
	        <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}" {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ crumb }}</li>
	      {% else %}
	        <li class="breadcrumb-item"><a href="{{ href }}">{{ crumb }}</a></li>
	      {% endif %}
	    {% endfor %}
		</ol>
	</nav>
</div>
{% endblock %}

{% block content %}
	<!-- Container -->
<div class="container">
<div class="" style="max-width: 300px;margin: 0 auto;">
	<div class="border"><!-- <div class="col-auto border p-3"> -->
	<!-- <div class="" id="container-login"> -->
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name"><a href="{% url 'user:login' %}">{{ site_header|default:_('Đăng nhập') }}</a></h1>
			</div>
		</div>
		<div id="content-login" class="colM">
			<h2>{{ title }}</h2>
			<div id="content-main">

				<form method="POST" action="." class="form-horizontal">{% csrf_token %}
					{% for field in form %}
						{% for error in field.errors %}
						<p style="color: red; text-align: right;">{{ error }}</p>
						{% endfor %}
					<!-- <hr /> -->
					<div class="form-group"><!-- {{ field }} -->
						{{ form.email.label_tag }}
						{{ form.email }}
					</div>
					{% endfor %}
					<div class="form-group submit-row">
						<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
						<input type="submit" value="Lập lại mật khẩu" class="btn btn-default"/>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
			<div id="footer"></div>

		</div>
	</div>
</div>
</div>
{% endblock %}

