{% extends "layout/layout_auth.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
		{% for crumb, href in crumbs %}
	      {% if forloop.last %}
	        <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}" {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ crumb }}</li>
	      {% else %}
	        <li class="breadcrumb-item"><a href="{{ href }}">{{ crumb }}</a></li>
	      {% endif %}
	    {% endfor %}
		</ol>
	</nav>
</div>
{% endblock %}

{% block content %}
<!-- Container -->
<div class="justify-content-center align-items-center" style="max-width: 350px;margin: 0 auto;">
	<div class="border">
	<!-- <div class="" id="container-login"> -->
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name"><a href="{% url 'user:login' %}">Login</a></h1>
			</div>
		</div>
		<div id="content" class="colM" style="padding: 20px 20px 0;">
			<h2>{{ title }}</h2>
			<div id="content-main">

						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
								{% endfor %}
							{% endfor %}
						{% endif %}

				<form method="post" action="." class="form-horizontal" class="form-horizontal">
						{% csrf_token %}
					{% if form.new_password1 and form.new_password2 %}
						<h4></h4>
						<hr />
						{{ form.new_password1.errors }}
						<div class="form-group">
							<div class="col-md-12 control-label">{{ form.new_password1.label_tag }} (*)</div>
							<div class="col-md-12">{{ form.new_password1 }}</div>
						</div>
						{{ form.new_password2.errors }}
						<div class="form-group">
							<div class="col-md-12 control-label">{{ form.new_password2.label_tag }} (*)</div>
							<div class="col-md-12">{{ form.new_password2 }}</div>
						</div>
						<div class="form-group submit-row">
							<!-- <input type="hidden" name="next" value="/accounts/login/" /> -->
							<input type="hidden" name="next" value="{{ next }}" />
							<input type="submit" value="Đổi mật khẩu" class="btn btn-default"/>
						</div>
					{% endif %}
						<div class="clearfix"></div>
				</form>
			</div>
			<div id="footer"></div>

		</div>
	</div>
</div>
{% endblock %}
