{% extends "layout/layout.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
		{% for crumb, href in crumbs %}
	      {% if forloop.last %}
	        <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}" {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ crumb }}</li>
	      {% else %}
	        <li class="breadcrumb-item"><a href="{{ href }}">{{ crumb }}</a></li>
	      {% endif %}
	    {% endfor %}
		</ol>
	</nav>
</div>
{% endblock %}

{% block content %}
	<!-- Container -->
	<div class="" id="container">
	  	<div class="container">
	      	<div class="row justify-content-center align-items-center" style="height:80vh;">
	          	<div class="col-auto border p-3">Your password successfully has been succesffully changed</div>
	      	</div>
	  	</div>
	</div>
{% endblock %}
