{% extends "layout/layout.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
		{% for crumb, href in crumbs %}
	      {% if forloop.last %}
	        <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}" {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ crumb }}</li>
	      {% else %}
	        <li class="breadcrumb-item"><a href="{{ href }}">{{ crumb }}</a></li>
	      {% endif %}
	    {% endfor %}
		</ol>
	</nav>
</div>
{% endblock %}

{% block content %}
<!-- Container -->
<div class="">
	<div class="row justify-content-center align-items-center"><!-- style="height:80vh;" -->
		<div class="col-auto border p-3">
			{% if form.errors %}
		    <p class="bg-danger p-2">Incorrect password</p>
		    {% endif %}

			{% if next %}
		    	{% if user.is_authenticated %}
		        <p class="bg-warning p-1">Your account doesn't have access.</p>
		    	{% else %}
		        <p class="bg-secondary">Please login to see this page.</p>
		    	{% endif %}
		    {% endif %}
			<form method="post" action="{% url 'user:password_change' %}" class="form-horizontal">
			    {% csrf_token %}
			    {{ form.as_p}}
			    <div class="form-group clearfix">
					<div class="col-md-12" style="text-align: center;"><input class="m t-3 btn-info" type="submit" value="Thay đổi mật khẩu" /></div>
	        		<input type="hidden" name="next" value="{{ next }}" />
	        	</div>
	    	</form>
		</div>
	</div>
</div>
{% endblock %}
