{% extends "layout/layout_auth.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
		{% for crumb, href in crumbs %}
	      {% if forloop.last %}
	        <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}" {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ crumb }}</li>
	      {% else %}
	        <li class="breadcrumb-item"><a href="{{ href }}">{{ crumb }}</a></li>
	      {% endif %}
	    {% endfor %}
		</ol>
	</nav>
</div>
{% endblock %}

{% block content %} 
<!-- Container -->
<div class="row justify-content-center align-items-center" style="height:50vh;">
	<div class="border">
<!-- <div class="" id="container-login"> -->
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name"><a href="{% url 'user:login' %}">Login</a></h1>
			</div>
		</div>
		<div id="content" class="colM">
			<div id="content-main">
				<p style="color: #007aff;">Your request to reset your password is accepted! Please check your email.</p>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}
